@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

a {
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy"), url("../fonts/Gilroy-Bold.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy"), url("../fonts/Gilroy-Semibold.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"), url("../fonts/Gilroy-Medium.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), url("../fonts/Gilroy-Regular.woff2");
}
* {
  transition: 0.3s all ease 0s;
}

html, body {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #2F2F2F;
  line-height: 120%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.active {
  background: rgba(255, 255, 255, 0.9764705882);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
}
@media (max-width: 400px) {
  .header {
    justify-content: right;
  }
}
@media (max-width: 400px) {
  .header__logo {
    display: none;
  }
}
.header__content {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
}
.header__user-notice {
  margin-right: 10px;
}
.header__user-name {
  margin-right: 6px;
  font-size: 0.875rem;
  line-height: 106%;
  color: #2F2F2F;
  letter-spacing: normal;
  font-weight: 600;
}
.main {
  display: flex;
}
@media (max-width: 1230px) {
  .main {
    flex-direction: column;
  }
}
.main__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px 1fr));
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 17px;
  margin-left: 30px;
}
@media (max-width: 1230px) {
  .main__wrapper {
    margin-left: 0px;
  }
}
@media (max-width: 930px) {
  .main__wrapper {
    display: block;
  }
}

@media (max-width: 1230px) {
  .control-panel {
    width: 100%;
    margin-bottom: 20px;
  }
}
.control-panel__wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F0F0F0;
  border-radius: 15px;
  position: relative;
}
@media (max-width: 1230px) {
  .control-panel__wrapper {
    flex-direction: inherit;
    justify-content: space-between;
  }
}
@media (min-width: 930px) {
  .control-panel__wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000000;
    top: 509px;
    left: 0px;
    opacity: 0.1;
  }
}
@media (max-width: 572px) {
  .control-panel__wrapper {
    justify-content: center;
    align-items: center;
  }
}
.control-panel__title {
  padding: 20px 38px 19px 69px;
  border-radius: 15px;
  color: #EF5DA8;
  cursor: pointer;
  position: relative;
}
@media (max-width: 1230px) {
  .control-panel__title {
    padding: 10px;
  }
}
@media (min-width: 1231px) {
  .control-panel__title::before {
    content: "";
    background-image: url(../img/controlPanel/manage.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 16px;
    height: 18px;
    top: 20px;
    left: 40px;
  }
}
.control-panel__items {
  margin: 0px 0px 16px 0px;
  position: relative;
}
@media (max-width: 1230px) {
  .control-panel__items {
    display: flex;
    margin: 0px;
    flex: 1 1 auto;
    justify-content: space-between;
    left: 0px;
  }
  .control-panel__items > *:not(:last-child) {
    margin: 0px;
  }
}
.control-panel__item {
  display: flex;
  justify-content: left;
  padding: 21px 38px 21px 69px;
  border-radius: 15px;
  cursor: pointer;
}
.control-panel__item:hover {
  color: #5D5FEF;
  transition: none;
}
@media (max-width: 1230px) {
  .control-panel__item {
    flex: 1 1 auto;
    padding: 6px 6px;
    justify-content: center;
  }
}
@media (min-width: 1231px) {
  .control-panel__portfolio {
    position: relative;
  }
  .control-panel__portfolio::before {
    content: "";
    background-image: url(../img/controlPanel/portfolio.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 20px;
    left: 36px;
  }
}
@media (max-width: 572px) {
  .control-panel__portfolio {
    display: none;
  }
}
@media (min-width: 1231px) {
  .control-panel__awards {
    position: relative;
  }
  .control-panel__awards::before {
    content: "";
    background-image: url(../img/controlPanel/star.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 20px;
    left: 35px;
  }
}
@media (max-width: 572px) {
  .control-panel__awards {
    display: none;
  }
}
@media (min-width: 1231px) {
  .control-panel__favorite {
    position: relative;
  }
  .control-panel__favorite::before {
    content: "";
    background-image: url(../img/controlPanel/favorite.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 17px;
    top: 22px;
    left: 35px;
  }
}
@media (max-width: 572px) {
  .control-panel__favorite {
    display: none;
  }
}
@media (min-width: 1231px) {
  .control-panel__account {
    position: relative;
  }
  .control-panel__account::before {
    content: "";
    background-image: url(../img/controlPanel/settings.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 22px;
    top: 20px;
    left: 35px;
  }
}
@media (max-width: 735px) {
  .control-panel__account {
    display: none;
  }
}
@media (min-width: 1231px) {
  .control-panel__level {
    position: relative;
  }
  .control-panel__level::before {
    content: "";
    background-image: url(../img/controlPanel/level.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    height: 20px;
    top: 18px;
    left: 35px;
  }
}
@media (max-width: 735px) {
  .control-panel__level {
    display: none;
  }
}
@media (min-width: 1231px) {
  .control-panel__premium {
    position: relative;
  }
  .control-panel__premium::before {
    content: "";
    background-image: url(../img/controlPanel/premium.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 22px;
    height: 20px;
    top: 18px;
    left: 35px;
  }
}
@media (max-width: 880px) {
  .control-panel__premium {
    display: none;
  }
}
@media (min-width: 1231px) {
  .control-panel__support {
    position: relative;
  }
  .control-panel__support::before {
    content: "";
    background-image: url(../img/controlPanel/support.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 19px;
    top: 18px;
    left: 35px;
  }
}
@media (max-width: 880px) {
  .control-panel__support {
    display: none;
  }
}
.control-panel__out {
  padding: 16px 70px 16px 69px;
  border-radius: 15px;
  position: relative;
  left: -3px;
  cursor: pointer;
}
@media (min-width: 1231px) {
  .control-panel__out {
    position: relative;
  }
  .control-panel__out:hover {
    color: #5D5FEF;
    transition: none;
  }
  .control-panel__out::before {
    content: "";
    background-image: url(../img/controlPanel/out.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 16px;
    left: 35px;
  }
}
.control-panel__out:hover {
  color: #5D5FEF;
  transition: none;
}

.card {
  background: #F0F0F0;
  border-radius: 15px;
}
.card__wrapper {
  padding: 16px 21px;
  position: relative;
}
.card__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  top: 120px;
  left: 0px;
  opacity: 0.1;
}
.card__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  top: 275px;
  left: 0px;
  opacity: 0.1;
}
@media (max-width: 930px) {
  .card__wrapper::after {
    top: 280px;
  }
}
@media (max-width: 696px) {
  .card__wrapper::after {
    top: 350px;
  }
}
@media (max-width: 446px) {
  .card__wrapper::after {
    top: 335px;
  }
}
@media (max-width: 333px) {
  .card__wrapper::after {
    top: 355px;
  }
}
@media (max-width: 930px) {
  .card__wrapper {
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .card__wrapper {
    padding: 16px 16px;
  }
}
.card__top {
  margin-bottom: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__profil {
  display: flex;
  align-items: center;
}
.card__name {
  margin-left: 22px;
  font-size: 1.25rem;
  line-height: 106%;
  color: #2F2F2F;
  letter-spacing: normal;
  font-weight: 700;
}
.card__istop {
  font-size: 0.62rem;
  line-height: 106%;
  color: #FFFFFF;
  letter-spacing: normal;
  background-color: #EF5DA8;
  padding: 5px 9px;
  border-radius: 46.669px;
}
.respect {
  margin-top: 29px;
}
.respect__title {
  font-size: 1.187rem;
  line-height: 23px;
  color: #2F2F2F;
  letter-spacing: normal;
  font-weight: 600;
  display: inline-block;
}
.respect__title a {
  margin-left: 6px;
  font-size: 0.75rem;
  line-height: 14px;
  color: #EF5DA8;
  letter-spacing: normal;
  font-weight: 400;
}
.respect__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.respect__item {
  margin: 0 3px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 66px;
  background: #FFFFFF;
  border-radius: 15px;
  position: relative;
  font-size: 0.81rem;
  line-height: 15px;
  color: #868686;
  letter-spacing: normal;
}
@media (max-width: 446px) {
  .respect__item {
    height: 36px;
  }
}
.respect__profile span {
  position: relative;
  left: 9px;
}
.respect__profile::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #A5A6F6;
  border-radius: 100%;
  top: 21px;
  left: 10px;
}
@media (max-width: 446px) {
  .respect__profile::before {
    top: 7px;
  }
}
.respect__portfolio span {
  position: relative;
  left: 14px;
}
.respect__portfolio::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #F178B6;
  border-radius: 100%;
  top: 21px;
  left: 10px;
}
@media (max-width: 446px) {
  .respect__portfolio::before {
    top: 7px;
  }
}
.respect__fresh span {
  position: relative;
  left: 9px;
}
.respect__fresh::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #3AC49F;
  border-radius: 100%;
  top: 21px;
  left: 10px;
}
@media (max-width: 446px) {
  .respect__fresh::before {
    top: 7px;
  }
}
.respect__pro span {
  position: relative;
  left: 9px;
}
.respect__pro::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #5D5FEF;
  border-radius: 100%;
  top: 21px;
  left: 10px;
}
@media (max-width: 446px) {
  .respect__pro::before {
    top: 7px;
  }
}
.respect__top span {
  position: relative;
  left: 9px;
}
.respect__top::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #EF5DA8;
  border-radius: 100%;
  top: 21px;
  left: 10px;
}
@media (max-width: 446px) {
  .respect__top::before {
    top: 7px;
  }
}

.space {
  margin-top: 52px;
}
.space__title {
  font-size: 1.18rem;
  line-height: 23px;
  color: #2F2F2F;
  letter-spacing: normal;
  font-weight: 600;
}
.space__inner {
  position: relative;
}
.space__remain {
  margin-top: 13px;
  font-size: 1em;
  line-height: 19px;
  color: #868686;
  letter-spacing: normal;
  font-weight: 600;
}
.space__remain label {
  font-size: 1em;
  line-height: 19px;
  color: #2F2F2F;
  letter-spacing: normal;
}
.space__remain progress {
  margin-left: 12px;
  height: 15px;
  width: 67%;
  background-color: #C7C8FF;
  -webkit-appearance: none;
  accent-color: #5D5FEF;
  border-radius: 63px;
}
@media (max-width: 629px) {
  .space__remain progress {
    width: 100%;
    margin: 0px;
  }
}
.space__remain progress::-webkit-progress-bar {
  background-color: #C7C8FF;
  border-radius: 63px;
}
.space__remain progress::-webkit-progress-value {
  background-color: #5D5FEF;
  border-radius: 63px;
  -webkit-transition: width 0.4s ease-in;
  transition: width 0.4s ease-in;
}
.space__remain progress::-moz-progress-bar {
  background-color: #5D5FEF;
  border-radius: 63px;
  -moz-transition: width 0.4s ease-in;
  transition: width 0.4s ease-in;
}
.space__add {
  position: absolute;
  top: 3px;
  left: 78%;
  font-size: 0.75em;
  line-height: 14px;
  color: #5D5FEF;
  letter-spacing: normal;
  font-weight: 600;
}
@media (max-width: 629px) {
  .space__add {
    display: none;
  }
}
.statistics {
  grid-column: span 2;
  background: #F0F0F0;
  border-radius: 15px;
}
.statistics__table {
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  font-size: 0.875em;
  line-height: 17px;
  color: #2F2F2F;
  letter-spacing: normal;
  font-weight: 400;
}
@media (max-width: 520px) {
  .statistics__table {
    font-size: 3.5vw;
  }
}
@media (max-width: 350px) {
  .statistics__table {
    font-size: 3vw;
  }
}
.statistics__table th {
  border-right: 1px solid white;
  color: #FFFFFF;
  font-weight: 700;
  padding: 19px 23px;
  text-align: left;
  background-color: #5D5FEF;
}
.statistics__table th:first-child {
  width: 622px;
  font-size: 1.25em;
  line-height: 106%;
  color: #D6D6FF;
  letter-spacing: normal;
}
@media (max-width: 520px) {
  .statistics__table th:first-child {
    padding: 10px 10px;
  }
}
.statistics__table th span {
  text-decoration: underline;
}
@media (max-width: 520px) {
  .statistics__table th {
    padding: 10px 10px;
  }
}
.statistics__table td {
  border-right: 1px solid white;
}
.statistics__table td:first-child {
  padding: 14px 23px;
  text-align: left;
}
@media (max-width: 520px) {
  .statistics__table td:first-child {
    padding: 10px 10px;
  }
}
.statistics__table td span {
  color: #CDCDCD;
}
@media (max-width: 520px) {
  .statistics__table td {
    padding: 10px 10px;
  }
}
.statistics__table tr:nth-child(even) {
  background-color: #F5F5F5;
}
.statistics__table tr:nth-child(odd) {
  background-color: #EDEDED;
}

.diagram {
  background: #F0F0F0;
  border-radius: 15px;
}
@media (max-width: 930px) {
  .diagram {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.diagram__wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.diagram__wrapper h1 {
  font-size: 1.5em;
  line-height: 24px;
  color: #2F2F2F;
  letter-spacing: normal;
  font-weight: 600;
}
.diagram__items {
  position: relative;
  height: 240px;
  width: 240px;
  margin-top: 10px;
}
.diagram__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-box: content-box;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(180deg);
}
.diagram__count {
  margin: 20px 0px 28px 0px;
  font-size: 1em;
  line-height: 24px;
  color: #2F2F2F;
  letter-spacing: normal;
}
.diagram__count span {
  font-size: 1.5rem;
  color: #5D5FEF;
  font-weight: 700;
}
.count-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.count-inner__top {
  font-size: 0.75rem;
  line-height: 14px;
  color: #EF5DA8;
  letter-spacing: normal;
  font-weight: 600;
}
.count-inner__main {
  font-size: 2.125rem;
  line-height: 41px;
  color: #5D5FEF;
  letter-spacing: normal;
  font-weight: 700;
}
.count-inner__bottom {
  font-size: 1rem;
  line-height: 19px;
  color: #717171;
  letter-spacing: normal;
  font-weight: 500;
}

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.pie {
  --p:20;
  --b:11px;
  --c:darkred;
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), rgba(0, 0, 0, 0.1) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}

.animate {
  -webkit-animation: p 1s 0.5s both;
          animation: p 1s 0.5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}

@-webkit-keyframes p {
  from {
    --p:0;
  }
}

@keyframes p {
  from {
    --p:0;
  }
}
.footer {
  position: relative;
}
.footer__wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
  font-size: 1em;
  line-height: 100%;
  color: #FFFFFF;
  letter-spacing: normal;
  margin-top: 80px;
}
.footer__top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 400px) {
  .footer__top {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .footer__logo {
    display: none;
  }
}
.footer__socials {
  display: flex;
}
.footer__socials > *:not(:last-child) {
  margin: 0px 19px 0px 0px;
}
.footer__helps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
}
@media (max-width: 1000px) {
  .footer__helps {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .footer__helps > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.footer__help {
  flex: 0 1 auto;
}
.footer__bottom-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}
@media (max-width: 1000px) {
  .footer__bottom-items {
    flex-direction: column;
    padding: 30px;
  }
  .footer__bottom-items > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.footer__bottom-item {
  flex: 0 1 auto;
}
.footer__bg-first {
  background-color: #5D5FEF;
  width: 100%;
  height: 178px;
  position: absolute;
  bottom: 78px;
  left: 0;
  z-index: -10;
}
@media (max-width: 1000px) {
  .footer__bg-first {
    height: 300px;
  }
}
@media (max-width: 327px) {
  .footer__bg-first {
    height: 320px;
  }
}
.footer__bg-second {
  background-color: #5556D3;
  width: 100%;
  height: 78px;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -10;
}
@media (max-width: 1000px) {
  .footer__bg-second {
    height: 130px;
  }
}